@import 'reset.scss';
@import 'responsive.scss';
@import 'mixinVariable.scss';
@import 'content.scss';
@import 'structure.scss';

.hero {
  height: 100vh;
  width: 100vw;
}


.imgMain {
  background-image: url("../img/imgMain.png");
  height: 100%;
  width: 100%;
}

.socIcon {
  height: 30px;
  width: 30px;
}

.fb {
  background-image: url("../img/fb.png");
}

.tw {
  background-image: url("../img/tw.png");
}

.sc {
  background-image: url("../img/sc.png");
}

.music {
  text-align: center;

    &::after {
      background: url("../img/wheel.png") no-repeat center;
      background-size: contain;
      content: "";
      display: block;
      height: 30px;
      margin: 30px auto;
      width: 30px;
    }
}

iframe {
  border: 1px solid $dkBlue;
  max-width: calc(400px + 4em);
  height: 400px;
}
