@import "reset.scss";
@import "responsive.scss";
@import "mixinVariable.scss";

html {
  font-family: $header;
  font-size: 1em;
}

.wrapper {
  height: 400vh;
  width: 100vw;

    .title {
      height: 100vh;
      position: fixed;
      width: 100%;

        .row {
          height: calc(100vh / 3);
          width: 100%;

            .col {
              background: $ltBlack;
              display: inline-block;
              float: left;
              height: 100%;
              position: relative;
              width: 50%;
            }

            .titleLeft {
              right: 0;
              transition: .6s;
            }

            .titleRight {
              left: 0;
              transition: .6s;
            }
        }

        #titleCol {
          right: 0;
          transition: .6s;
          transition-delay: .6s;
        }

        #noTitle {
          left: 0;
          transition: .6s;
          transition-delay: .6s;
        }

        #titleDiv {
          display: inline-block;
          float: right;
          height: 100%;

            #titleFlex {
              align-items: center;
              display: flex;
              justify-content: center;
              padding-right: 48px;
              width: 100%;
              height: 100%;

                h1 {
                  color: $white;
                  text-transform: lowercase;
                }
            }
        }
    }
}
